{% extends "base_generic.html" %}

{% block content %}
    {% if form.errors %}
        <p class="text-warning">
            Su nombre de usuario y contraseña no coinciden. Por favor intente de nuevo.
        </p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="text-danger">
                Su cuenta no tiene acceso a esta página. Para proceder, por favor ingrese con una cuenta autorizada.
            </p>
        {% else %}
            <p>Por favor ingrese para poder visualizar esta página.</p>
        {% endif %}
    {% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="Ingresar" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>

{% endblock %}
