{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Por favor ingrese (y confirme) su nueva contraseña.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña:</label>
                    </td>
                    <td>
                        {{ form.new_password1 }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar contraseña:</label>
                    </td>
                    <td>
                        {{ form.new_password2 }}
                    </td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Error al restablecer la contraseña</h1>
        <p>
            El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.
        </p>
    {% endif %}
{% endblock %}
