<!DOCTYPE html>
<html lang="es">

<head>
  <title>Librería Local</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'libros' %}">Todos los libros</a></li>
          <li><a href="{% url 'autores' %}">Todos los autores</a></li>

          {% if user.is_authenticated %}
            <hr>
            <li>Usuario: {{ user.get_username }}</li>
            <li><a href="{% url 'misprestamos' %}">Mis préstamos</a></li>
            <li><a href="{% url 'logout' %}?next={{ request.path }}">Cerrar sesión</a></li>
          {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Iniciar sesión</a></li>
          {% endif %}

          {% if perms.catalogo.can_mark_returned %}
            <hr>
            <li>Staff</li>
            <li><a href="{% url 'todoslosprestamos' %}">Todos los préstamos</a></li>
          {% endif %}
        </ul>
      {% endblock %}
      </div>

      <div class="col-sm-10">
          {% block content %}{% endblock %}

          {% block pagination %}
              {% if is_paginated %}
                  <div class="pagination">
                      <span class="page-links">
                          {% if page_obj.has_previous %}
                              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior<a/> -
                          {% endif %}
                          <span class="page-current">
                              Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                          </span>
                          {% if page_obj.has_next %}
                              - <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
                          {% endif %}
                      </span>
                  </div>
              {% endif %}
          {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>

