{% extends "base_generic.html" %}

{% block sidebar %}
    {{ block.super }}
    {% if perms.catalogo.can_mark_returned %}
      <ul class="sidebar-nav">
        <li><a href="{% url 'libro_actualizar' libro.id %}">Actualizar Libro</a></li>
        <li><a href="{% url 'libro_eliminar' libro.id %}">Eliminar Libro</a></li>
      </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Título: {{ libro.titulo }}</h1>
    
    <p><strong>Autor:</strong> <a href="{{ libro.autor.get_absolute_url }}">{{ libro.autor }}</a></p>
    <p><strong>Resumen:</strong> {{ libro.resumen }}</p>
    <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
    <p><strong>Lenguaje:</strong> {{ libro.lenguaje }}</p>
    <p><strong>Género:</strong> {{ libro.genero.all|join:", " }}</p>
    
    <div style="margin-left:20px;margin-top:20px">
        <h4>Copias</h4>
        {% for copia in libro.instanciadelibro_set.all %}
            <hr>
            <p style="margin: 0px;" class="{% if copia.estatus == 'd' %}text-success{% elif copia.estatus == 'm' %}text-danger{% else %}text-warning{% endif %}">
                {{ copia.get_estatus_display }}
            </p>
            <p class="text-muted"><strong>Id:</strong> {{ copia.id }}</p>
            {% if copia.estatus != 'd' %}
                <p style="margin-bottom: 0px;" class="{% if copia.esta_atrasado %}text-danger{% endif %}">
                    <strong>Debe ser devuelto:</strong> {{ copia.fecha_de_devolucion }}
                </p>
                {% if perms.catalogo.can_mark_returned %}
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'renovar_libro' copia.id %}">
                        Renovar
                    </a>
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'devolver_libro' copia.id %}">
                        Devolver
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
